@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:ital,wght@0,400;0,900;1,200&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer h3{
    color:#264653;
}
footer a{
    color: #E9C46A;
    text-decoration: none;
}
footer a:hover{
    color: #ffffff;
    text-decoration: underline ;
}
footer{
    background-color:#264653;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    padding-top: 15px;
}.logo{
    width: 80px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color:#E9C46A;
    color:#ffffff;
}
header{
    background-color:#264653;
    display: grid;
    grid-template-columns: 150px auto;
}
header a{
    font-family: 'Nunito Sans', 'Helvetica', 'sans-serif';
    font-size: 1.4em;
}
footer a{
    font-family: 'Nunito Sans', 'Helvetica', 'sans-serif';
}
h1{
    font-family: 'DM Serif Display', 'Baskerville', 'serif';
    text-align: center;
    color:#264653;
    font-size: 2em;
}
h3{
    font-family: 'DM Serif Display', 'Baskerville', 'serif';
    color: #264653;
}
footer p{
    font-size: 1.6em;
}
p{
    font-family: 'Nunito Sans', 'Helvetica', 'sans-serif';
}
#content{
    margin-right: 200px;
    margin-left: 200px;
    font-size: 1.2em;
}
.main_image{
     width: 1600px;
}