@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Domine:wght@700&family=Inter+Tight:wght@400;500;900&family=Nanum+Myeongjo:wght@800&family=Noto+Sans&family=Nunito+Sans:ital,wght@0,400;0,900;1,200&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1{
    text-align: center;
    font-family:'DM Serif Display', 'Domine', 'Nanum Myeongjo'; 
}
#hero-msg h4{
    text-align: center;
    font-family:'DM Serif Display', 'Domine', 'Nanum Myeongjo';
} 
.button-box{
    text-align: center;
} 
main section{
    text-align: center;    
}
#background{
    height: 725px
}
body{
    background-color:white;
    font-family: 'Nunito Sans', 'Noto Sans', 'Inter Tight';
    font-size: 22px; 
    margin: 0;
    padding: 0;   
}
header{
    background-color:#264653
}
nav a:hover{
    background-color:#E9C46A;
    color:white;
}
.book, .join{
    background-color:white;
    color:#264653;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:#264653;
    color:white;
}
#background{
    background-color:#264653;
}
.msg{
    background-color:white;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color:#264653;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a{
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
.home-title{
    color:white;
    font-size: 2em;
    margin-top: 10px;
}
h1, h2, h4{
    color:#264653;
}
.msg h2{
    color:#264653;
}
.msg p{
    color:#264653;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color:#264653;
}
footer a{
    color: #E9C46A;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
.logo, .icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 10px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #E9C46A;
}
main section img{
    box-sizing: border-box;
}



